.nav{
    display: flex;
    align-items: center;
}
.menu {
    display: flex;
}

.menu li a {
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 0.1em;
}

.menu li a:hover {
    border-bottom: 1px solid #fff;
}

.menu li {
    margin-right: 40px;
}

.tel{
    font-size: 17px;
    margin-left: auto;
    letter-spacing: 0.1em;
}